{
  "scriptFile": "__init__.py",
  "bindings": [
    {
      "name": "blob",
      "type": "blobTrigger",
      "direction": "in",
      "path": "${container_name}/{name}",
      "connection": "AzureWebJobsStorage"
    }
  ]
}
